:root {
  --main-color: #18112C;
  --middle-color: #4281A4;
  --light-main: #D4C2FC;
  --important: #F25F5C;
  --white: #FDC05D;
  --dark-gradient: linear-gradient(-45deg, #0c0135, #1c0037, #060012, #0a032a);
  --light-gradient: linear-gradient(-90deg, var(--light-main) 13%, #e8ddff 72%);


}
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: var(--main-color);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100dvh;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

a {
  color: var(--light-main);
  text-decoration: none;
}
.light-font {
  color: var(--light-main)
}
.dark-font {
  color: var(--main-color);
}