:root {
  --main-color: #231942;
  --middle-color: #4281A4;
  --light-main: #D4C2FC;
  --important: #F25F5C;
  --white: #FFEBC6;

}
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100dvh;
}